<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.sauron.warning.dao2.ScheduleFailedFlowMapper" >
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.ScheduleFailedFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mqGroup" property="mqgroup" jdbcType="VARCHAR" />
    <result column="mqTopic" property="mqtopic" jdbcType="VARCHAR" />
    <result column="mqBody" property="mqbody" jdbcType="VARCHAR" />
    <result column="executeParams" property="executeparams" jdbcType="VARCHAR" />
    <result column="failedReason" property="failedreason" jdbcType="VARCHAR" />
    <result column="executeUrl" property="executeurl" jdbcType="VARCHAR" />
    <result column="mqBornhost" property="mqbornhost" jdbcType="VARCHAR" />
    <result column="mqBorntimestamp" property="mqborntimestamp" jdbcType="TIMESTAMP" />
    <result column="instanceId" property="instanceid" jdbcType="VARCHAR" />
    <result column="processTimestamp" property="processtimestamp" jdbcType="TIMESTAMP" />
    <result column="httpMethod" property="httpmethod" jdbcType="VARCHAR" />
    <result column="retryTimes" property="retrytimes" jdbcType="TINYINT" />
    <result column="retryReponse" property="retryreponse" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="utime" property="utime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mqGroup, mqTopic, mqBody, executeParams, failedReason, executeUrl, mqBornhost, 
    mqBorntimestamp, instanceId, processTimestamp, httpMethod, retryTimes, retryReponse, 
    status, ctime, utime
  </sql>
  
  <select id="selectWarning" resultMap="BaseResultMap" >
    SELECT id,mqTopic, executeUrl FROM m_schedule_failedflow WHERE  status=1 AND (TO_DAYS(NOW())-TO_DAYS(ctime)) &lt;=1
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_schedule_failedflow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_schedule_failedflow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.ScheduleFailedFlow" >
    insert into m_schedule_failedflow (id, mqGroup, mqTopic, 
      mqBody, executeParams, failedReason, 
      executeUrl, mqBornhost, mqBorntimestamp, 
      instanceId, processTimestamp, httpMethod, 
      retryTimes, retryReponse, status, 
      ctime, utime)
    values (#{id,jdbcType=INTEGER}, #{mqgroup,jdbcType=VARCHAR}, #{mqtopic,jdbcType=VARCHAR}, 
      #{mqbody,jdbcType=VARCHAR}, #{executeparams,jdbcType=VARCHAR}, #{failedreason,jdbcType=VARCHAR}, 
      #{executeurl,jdbcType=VARCHAR}, #{mqbornhost,jdbcType=VARCHAR}, #{mqborntimestamp,jdbcType=TIMESTAMP}, 
      #{instanceid,jdbcType=VARCHAR}, #{processtimestamp,jdbcType=TIMESTAMP}, #{httpmethod,jdbcType=VARCHAR}, 
      #{retrytimes,jdbcType=TINYINT}, #{retryreponse,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.ScheduleFailedFlow" >
    insert into m_schedule_failedflow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mqgroup != null" >
        mqGroup,
      </if>
      <if test="mqtopic != null" >
        mqTopic,
      </if>
      <if test="mqbody != null" >
        mqBody,
      </if>
      <if test="executeparams != null" >
        executeParams,
      </if>
      <if test="failedreason != null" >
        failedReason,
      </if>
      <if test="executeurl != null" >
        executeUrl,
      </if>
      <if test="mqbornhost != null" >
        mqBornhost,
      </if>
      <if test="mqborntimestamp != null" >
        mqBorntimestamp,
      </if>
      <if test="instanceid != null" >
        instanceId,
      </if>
      <if test="processtimestamp != null" >
        processTimestamp,
      </if>
      <if test="httpmethod != null" >
        httpMethod,
      </if>
      <if test="retrytimes != null" >
        retryTimes,
      </if>
      <if test="retryreponse != null" >
        retryReponse,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="utime != null" >
        utime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mqgroup != null" >
        #{mqgroup,jdbcType=VARCHAR},
      </if>
      <if test="mqtopic != null" >
        #{mqtopic,jdbcType=VARCHAR},
      </if>
      <if test="mqbody != null" >
        #{mqbody,jdbcType=VARCHAR},
      </if>
      <if test="executeparams != null" >
        #{executeparams,jdbcType=VARCHAR},
      </if>
      <if test="failedreason != null" >
        #{failedreason,jdbcType=VARCHAR},
      </if>
      <if test="executeurl != null" >
        #{executeurl,jdbcType=VARCHAR},
      </if>
      <if test="mqbornhost != null" >
        #{mqbornhost,jdbcType=VARCHAR},
      </if>
      <if test="mqborntimestamp != null" >
        #{mqborntimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="processtimestamp != null" >
        #{processtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="httpmethod != null" >
        #{httpmethod,jdbcType=VARCHAR},
      </if>
      <if test="retrytimes != null" >
        #{retrytimes,jdbcType=TINYINT},
      </if>
      <if test="retryreponse != null" >
        #{retryreponse,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.ScheduleFailedFlow" >
    update m_schedule_failedflow
    <set >
      <if test="mqgroup != null" >
        mqGroup = #{mqgroup,jdbcType=VARCHAR},
      </if>
      <if test="mqtopic != null" >
        mqTopic = #{mqtopic,jdbcType=VARCHAR},
      </if>
      <if test="mqbody != null" >
        mqBody = #{mqbody,jdbcType=VARCHAR},
      </if>
      <if test="executeparams != null" >
        executeParams = #{executeparams,jdbcType=VARCHAR},
      </if>
      <if test="failedreason != null" >
        failedReason = #{failedreason,jdbcType=VARCHAR},
      </if>
      <if test="executeurl != null" >
        executeUrl = #{executeurl,jdbcType=VARCHAR},
      </if>
      <if test="mqbornhost != null" >
        mqBornhost = #{mqbornhost,jdbcType=VARCHAR},
      </if>
      <if test="mqborntimestamp != null" >
        mqBorntimestamp = #{mqborntimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceid != null" >
        instanceId = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="processtimestamp != null" >
        processTimestamp = #{processtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="httpmethod != null" >
        httpMethod = #{httpmethod,jdbcType=VARCHAR},
      </if>
      <if test="retrytimes != null" >
        retryTimes = #{retrytimes,jdbcType=TINYINT},
      </if>
      <if test="retryreponse != null" >
        retryReponse = #{retryreponse,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.ScheduleFailedFlow" >
    update m_schedule_failedflow
    set mqGroup = #{mqgroup,jdbcType=VARCHAR},
      mqTopic = #{mqtopic,jdbcType=VARCHAR},
      mqBody = #{mqbody,jdbcType=VARCHAR},
      executeParams = #{executeparams,jdbcType=VARCHAR},
      failedReason = #{failedreason,jdbcType=VARCHAR},
      executeUrl = #{executeurl,jdbcType=VARCHAR},
      mqBornhost = #{mqbornhost,jdbcType=VARCHAR},
      mqBorntimestamp = #{mqborntimestamp,jdbcType=TIMESTAMP},
      instanceId = #{instanceid,jdbcType=VARCHAR},
      processTimestamp = #{processtimestamp,jdbcType=TIMESTAMP},
      httpMethod = #{httpmethod,jdbcType=VARCHAR},
      retryTimes = #{retrytimes,jdbcType=TINYINT},
      retryReponse = #{retryreponse,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>