<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.sauron.warning.dao.AppMapper" >
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.App" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="app_name" property="name" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, app_name, user_name, describes, created_time, updata_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_app
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
     id, app_name
    from tb_app
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_app
    WHERE 1 = 1
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
    <if test="userId != null and userId != ''">
      AND user_id = #{userId}
    </if>
    ORDER BY id
    LIMIT #{startIndx},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(id)
    FROM tb_app
    WHERE 1 = 1
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_app
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.App" >
    insert into tb_app (id, user_id, app_name, user_name,
      describes, created_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{describes,jdbcType=VARCHAR}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.App" >
    insert into tb_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        app_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="describes != null" >
        describes,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.App" >
    update tb_app
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        app_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.App" >
    update tb_app
    set user_id = #{userId,jdbcType=VARCHAR},
      app_name = #{name,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updata_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>