<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.sauron.warning.dao.DubboRulesMapper">
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.DubboRules">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="zookeeper_ips_id" jdbcType="BIGINT" property="zookeeperIpsId" />
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="template" jdbcType="BIGINT" property="template" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="is_enabled" jdbcType="TINYINT" property="isEnabled" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updata_time" jdbcType="TIMESTAMP" property="updataTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, zookeeper_ips_id, application_name, template, creator_id, is_enabled, 
    created_time, updata_time
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dubbo_rules
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dubbo_rules
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPage" resultType="java.util.HashMap">
    SELECT r.id AS id,a.app_name AS name,r.application_name AS applicationName ,z.zk_ip AS zkIp,r.is_enabled AS isEnabled
    FROM tb_dubbo_rules r, tb_app a, tb_zookeeper_ips z
    WHERE r.app_id = a.id AND z.id = r.zookeeper_ips_id
    <if test="appName != null and appName != ''">
      AND a.app_name LIKE '%${appName}%'
    </if>
    <if test="applicationName != null and applicationName != ''">
      AND r.application_name LIKE '%${applicationName}%'
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND r.app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
    ORDER BY id
    LIMIT #{startIndex},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(r.id)
    FROM tb_dubbo_rules r, tb_app a, tb_zookeeper_ips z
    WHERE r.app_id = a.id AND z.id = r.zookeeper_ips_id
    <if test="appName != null and appName != ''">
      AND a.app_name LIKE '%${appName}%'
    </if>
    <if test="applicationName != null and applicationName != ''">
      AND r.application_name LIKE '%${applicationName}%'
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND r.app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
  </select>
  
   <select id="selectByzkid" resultMap="BaseResultMap">
    SELECT *
    FROM tb_dubbo_rules 
    where zookeeper_ips_id = #{zookeeperIpsId,jdbcType=BIGINT} and application_name = #{applicationName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_dubbo_rules
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.DubboRules">
    insert into tb_dubbo_rules (id, app_id, zookeeper_ips_id, 
      application_name, template, creator_id, 
      is_enabled, created_time, updata_time
      )
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, #{zookeeperIpsId,jdbcType=BIGINT}, 
      #{applicationName,jdbcType=VARCHAR}, #{template,jdbcType=BIGINT}, #{creatorId,jdbcType=BIGINT}, 
      #{isEnabled,jdbcType=TINYINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updataTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.DubboRules">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
    insert into tb_dubbo_rules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="zookeeperIpsId != null">
        zookeeper_ips_id,
      </if>
      <if test="applicationName != null">
        application_name,
      </if>
      <if test="template != null">
        template,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updataTime != null">
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="zookeeperIpsId != null">
        #{zookeeperIpsId,jdbcType=BIGINT},
      </if>
      <if test="applicationName != null">
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        #{template,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null">
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.DubboRules">
    update tb_dubbo_rules
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="zookeeperIpsId != null">
        zookeeper_ips_id = #{zookeeperIpsId,jdbcType=BIGINT},
      </if>
      <if test="applicationName != null">
        application_name = #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        template = #{template,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null">
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.DubboRules">
    update tb_dubbo_rules
    set app_id = #{appId,jdbcType=BIGINT},
      zookeeper_ips_id = #{zookeeperIpsId,jdbcType=BIGINT},
      application_name = #{applicationName,jdbcType=VARCHAR},
      template = #{template,jdbcType=BIGINT},
      creator_id = #{creatorId,jdbcType=BIGINT},
      is_enabled = #{isEnabled,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updata_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>