<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.sauron.warning.dao.MetricsMapper" >
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.Metrics" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="metric_opt_id" property="metricOptId" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="DOUBLE" />
    <result column="rel_event_id" property="relEventId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, metric_opt_id, value, rel_event_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_metrics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_metrics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="batchInsert" parameterType="java.util.List">
		insert into tb_metrics
		(metric_opt_id, value, rel_event_id)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{metricOptId,jdbcType=BIGINT}, 
			 #{value,jdbcType=DOUBLE}, 
      		 #{relEventId,jdbcType=BIGINT})
		</foreach>
	</insert>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.Metrics" >
    insert into tb_metrics (id, metric_opt_id, value, 
      rel_event_id)
    values (#{id,jdbcType=BIGINT}, #{metricOptId,jdbcType=BIGINT}, #{value,jdbcType=DOUBLE}, 
      #{relEventId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.Metrics" >
    insert into tb_metrics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="metricOptId != null" >
        metric_opt_id,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="relEventId != null" >
        rel_event_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="metricOptId != null" >
        #{metricOptId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="relEventId != null" >
        #{relEventId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.Metrics" >
    update tb_metrics
    <set >
      <if test="metricOptId != null" >
        metric_opt_id = #{metricOptId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=DOUBLE},
      </if>
      <if test="relEventId != null" >
        rel_event_id = #{relEventId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.Metrics" >
    update tb_metrics
    set metric_opt_id = #{metricOptId,jdbcType=BIGINT},
      value = #{value,jdbcType=DOUBLE},
      rel_event_id = #{relEventId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByEventId" resultMap="BaseResultMap">
    SELECT *
      FROM tb_metrics
     WHERE rel_event_id = #{eventId}
  </select>
</mapper>