<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="dao-config.xml"/>
    <import resource="hbase-config.xml"/>
    <import resource="task-config.xml"/>
    <!--<import resource="cache-redis-config.xml"/>-->
    <import resource="spring-redis.xml"/>
    <import resource="upm.xml"/>
</beans>