<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.sauron.warning.dao.ContactMapper" >
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.Contact" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contact_name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="contact_status" property="status" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contact_name, mobile, wechat, role, contact_status, email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_contact
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_contact
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.Contact" >
    insert into tb_contact (id, contact_name, mobile,
      wechat, role, contact_status , email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.Contact" >
    insert into tb_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        contact_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="status != null" >
        contact_status,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.Contact" >
    update tb_contact
    <set >
      <if test="name != null" >
        contact_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        contact_status = #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.Contact" >
    update tb_contact
    set contact_name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      contact_status = #{status,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPager" resultMap="BaseResultMap">
    SELECT *
    FROM tb_contact
    WHERE 1 = 1
    <if test="contactId != 0">
      AND tb_contact.id = #{contactId}
    </if>
    <if test="wechat != null and wechat != ''">
      AND tb_contact.wechat = #{wechat}
    </if>
    <if test="mobile != null and mobile != ''">
      AND tb_contact.mobile = #{mobile}
    </if>
    ORDER BY id
    LIMIT #{startIndx},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(*)
    FROM tb_contact
    WHERE 1 = 1
    <if test="contactId != 0">
      AND tb_contact.id = #{contactId}
    </if>
    <if test="wechat != null and wechat != ''">
      AND tb_contact.wechat = #{wechat}
    </if>
    <if test="mobile != null and mobile != ''">
      AND tb_contact.mobile = #{mobile}
    </if>
  </select>
</mapper>