<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.sauron.warning.dao.RulesMapper" >
  <resultMap id="BaseResultMap" type="com.feng.sauron.warning.domain.Rules" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="template" property="template" jdbcType="BIGINT" />
    <result column="rule_type" jdbcType="TINYINT" property="type" />
    <result column="monitor_key" jdbcType="VARCHAR" property="monitorKey" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, host_name, app_name, app_id, method_name, template, rule_type, monitor_key, creator_id, created_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_rules
    where id = #{id,jdbcType=BIGINT}
  </select>
  
   <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Byte">
		select
		<include refid="Base_Column_List" />
		from tb_rules where rule_type = #{type,jdbcType=TINYINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_rules
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feng.sauron.warning.domain.Rules" >
    insert into tb_rules (id, host_name, app_name, app_id,
      method_name, template, rule_type, monitor_key, creator_id,
      created_time)
    values (#{id,jdbcType=BIGINT}, #{hostName,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{appId,jdbcType=BIGINT},
      #{methodName,jdbcType=VARCHAR}, #{template,jdbcType=BIGINT},#{type,jdbcType=TINYINT},#{monitorKey,jdbcType=VARCHAR},
      #{creatorId,jdbcType=BIGINT},#{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feng.sauron.warning.domain.Rules" >
  <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
	</selectKey>
    insert into tb_rules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hostName != null" >
        host_name,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="template != null" >
        template,
      </if>
      <if test="type != null" >
        rule_type,
      </if>
      <if test="monitorKey != null" >
        monitor_key,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hostName != null" >
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="template != null" >
        #{template,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="monitorKey != null" >
        #{monitorKey,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.sauron.warning.domain.Rules" >
    update tb_rules
    <set >
      <if test="hostName != null" >
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="template != null" >
        template = #{template,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        rule_type = #{type,jdbcType=TINYINT},
      </if>
      <if test="monitorKey != null" >
        monitor_key = #{monitorKey,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.sauron.warning.domain.Rules" >
    update tb_rules
    set host_name = #{hostName,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=BIGINT},
      method_name = #{methodName,jdbcType=VARCHAR},
      template = #{template,jdbcType=BIGINT},
      rule_type = #{type,jdbcType=TINYINT},
      monitor_key = #{monitorKey,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPager" resultMap="BaseResultMap">
    SELECT *
    FROM tb_rules
    WHERE 1 = 1
    <if test="hostName != null and hostName != ''">
      AND host_name = #{hostName}
    </if>
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
    <if test="methodName != null and methodName != ''">
      AND method_name = #{methodName}
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
      AND rule_type = #{type}
    ORDER BY id
    LIMIT #{startIndx},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(*)
    FROM tb_rules
    WHERE 1 = 1
    <if test="hostName != null and hostName != ''">
      AND host_name = #{hostName}
    </if>
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
    <if test="methodName != null and methodName != ''">
      AND method_name = #{methodName}
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
      AND rule_type = #{type}
  </select>


  <select id="selectCustomByPager" resultMap="BaseResultMap">
    SELECT *
    FROM tb_rules
    WHERE 1 = 1
    <if test="hostName != null and hostName != ''">
      AND host_name = #{hostName}
    </if>
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
    <if test="methodName != null and methodName != ''">
      AND method_name = #{methodName}
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
    AND rule_type > 1
    ORDER BY id
    LIMIT #{startIndx},#{pageSize}
  </select>
  <select id="selectCustomCount" resultType="java.lang.Integer">
    SELECT count(*)
    FROM tb_rules
    WHERE 1 = 1
    <if test="hostName != null and hostName != ''">
      AND host_name = #{hostName}
    </if>
    <if test="appName != null and appName != ''">
      AND app_name = #{appName}
    </if>
    <if test="methodName != null and methodName != ''">
      AND method_name = #{methodName}
    </if>
    <if test="creatorId != null and creatorId != ''">
      AND app_id in(select id from tb_app where user_id = #{creatorId,jdbcType=VARCHAR})
    </if>
    AND rule_type > 1
  </select>
</mapper>